<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
	<h1>Homicide Reports, 1980-2014</h1>

	<p>
		<font size="5"><b> Subpage </b></font> &emsp;
		<a href="http://127.0.0.1:5000/analysis_result"> Analysis Result </a> &emsp;
		<a href="http://127.0.0.1:5000/querying"> Querying </a> 
	</p>	
	
	<p>
		<font size="5"><b> Content </b></font>
		<br><br>
		<font size="5">The Murder Accountability Project is the most complete database of homicides in the United States currently available.</font>
		<br><br>
		<font size="5">This dataset includes murders from the FBI's Supplementary Homicide Report from 1976 to the present and Freedom of Information Act data on more than 22,000 homicides that were not reported to the Justice Department.</font>
		<br><br>
		<font size="5">This dataset includes the age, race, sex, ethnicity of victims and perpetrators, in addition to the relationship between the victim and perpetrator and weapon used.</font>
	</p>
	

  </body>
</html>